@import '../../variables.scss';

.date-selector {
    font-size: 36px;
    display: flex;
    flex-flow: row;
    height: 3em;
    justify-content: center;
    align-items: center;

    .month-label {
        min-width: 10em;
        text-align: center;
        margin: 0 $distance-covid-safe;
    }

    .date-changer {
        cursor: pointer;
    }

    .year {
        font-size: 10px;
    }
}
