.landing-page {
    justify-content: center;
    display: flex;
    flex-flow: column;

    .site-name {
        position: relative;
        font-size: 5em;
        text-align: center;
    }

    .version-number {
        font-size: 0.3em;
        position: absolute;
        bottom: 0;
    }

    .sub-text {
        font-size: 0.75em;
        margin-top: 1em;
        text-align: center;
    }

    .button-group {
        margin-top: 1em;
    }
}
