@import '../../../variables.scss';

.panel {
    display: flex;
    position: relative;
    flex-flow: column;
    margin: 1em 0;

    .separator {
        position: absolute;
        bottom: 0;
        border-bottom: 1px solid $line-color;
        width: 75%;
    }

    .panel-title {
        position: relative;
        font-size: 2em;
        margin-bottom: 1em;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}
