.app {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.app-container {
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 auto;
    position: relative;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 1200px) {
    .app-container {
        width: 1170px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .app-container {
        width: 970px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .app-container {
        width: 750px;
    }
}
