@import '../../variables.scss';

$flex-basis-for-7-column: 13.5%;

.calendar {
    .calendar-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        .calendar-header-item {
            flex: 1 1 $flex-basis-for-7-column;
            padding-right: 10px;
            line-height: 1.5em;
            text-align: right;
            font-weight: bold;
        }
    }

    .calendar-body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .calendar-body-item {
        flex: 1 1 $flex-basis-for-7-column;
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        min-height: 100px;
        border: $line-color 1px solid;
        border-left: none;
        border-bottom: none;
        font-size: 0.75em;
        padding: 5px;
        overflow: hidden;

        &:nth-of-type(7n + 1) {
            border-left: $line-color 1px solid;
        }

        &:nth-last-of-type(-n + 7) {
            border-bottom: $line-color 1px solid;
        }

        &.date-today {
            color: lighten($text-color, 100%);
            background-color: rgba($highlight-color, 0.3);
        }

        .date-label {
            line-height: 2em;
            align-self: flex-end;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .day-label {
                height: 2em;
                width: 2em;
                text-align: center;
                margin-left: 5px;
                position: relative;

                .date-today {
                    height: 2em;
                    width: 2em;
                    position: absolute;
                    border-radius: 50%;
                    top: 0;
                    background-color: $highlight-color;
                    box-sizing: border-box;
                    z-index: -1;
                }
            }
        }

        .episode {
            margin-bottom: 5px;
            display: flex;
            flex-flow: row;
            align-items: center;

            &.downloaded {
                text-decoration: line-through;
            }

            input[type='checkbox'] {
                margin: 0;
            }

            .details {
                flex-grow: 1;
                display: flex;
                flex-flow: column;
                overflow: hidden;

                .show-name {
                    cursor: pointer;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .file-details {
                    display: flex;
                    flex-flow: row;
                    align-items: center;

                    .air-details {
                        font-size: 10px;
                    }

                    .material-icons {
                        font-size: inherit;
                    }
                }
            }
        }
    }
}
