@import '../../variables.scss';

.homepage {
    display: flex;
    flex-flow: column;

    .calendar-navigation {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        margin-bottom: 1em;

        > * {
            flex-basis: 33%;
            align-self: center;
        }

        .refresh-button {
            align-items: center;
            justify-content: flex-end;
        }

        .date-selector {
            flex: 1 0 auto;
        }
    }

    .homepage-actions {
        margin-top: 2em;
    }

    .message {
        background-color: rgba($highlight-color, 0.4);
        border: 2px solid $highlight-color;
        border-radius: 1em;
        padding: 1em;
        margin: 0 4em;

        a {
            color: inherit;
        }
    }
}
