// $background-color: #25274d;
// $primary-color: #464866;
// $text-color: #aaabb8;

$background-color: #212121;
$primary-color: #2a292b;
$accent-color: #333333;
$text-color: #abb0b5;

$distance-covid-safe: 1em;
$distance-covid-warning: 2em;
$distance-covid-danger: 3em;
